# -------------------- Java -------------------- #

# Compiled class file
/Java/**/*.class

# Log file
/Java/**/*.log

# BlueJ files
/Java/**/*.ctxt

# Mobile Tools for Java (J2ME)
/Java/**/*.mtj.tmp/

# Package Files
/Java/**/*.jar
/Java/**/*.war
/Java/**/*.ear
/Java/**/*.jar
/Java/**/*.tar.gz
/Java/**/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
/Java/**/hs_err_pid*
/Java/**/replay_pid*



# -------------------- Eclipse -------------------- #

/Java/.metadata
/Java/*/bin/
/Java/*/.settings/
/Java/*/.classpath
/Java/*/.project